<main class="full-container">
  <h1>Budget Wizard</h1>
  
  <div class="welcome-links">
      <%= link_to new_user_session_path do%>
        <button class="blue-btn">
        LOG IN
        </button>
      <% end %>

      <%= link_to new_user_registration_path do%>
        <button class="white-btn">
          SIGN UP
        </button>
      <% end %>
  </div>

</main>